*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #100909;
    
}
.main{
    width: 50%;
    height: 600px;
    margin: 8.5em auto;

}
input{
    font-size: 1.7rem;
    display: inline;
    padding: 7px;
    outline: none;
    border-radius: 4px;
    text-transform: capitalize;
    border: 2px solid whitesmoke;
    background-color:#e7e7e7;
}

.box{
    margin: 12px 0px;
    display: flex;
    height: 10%;
    width: 100%;
    flex-direction:row;
}

#city{
    width: 60%;
    flex-shrink: 2;
}

#searchBtn{
    cursor: pointer;
    padding: 10px;
    margin: 0px 12px;
    width: 24%;
    
}
#tempval{
    margin: 4px 0px;
}

.desc{ 
    height: 38%;
    width: 90%;
    background-color:#e7e7e7;
}
h1{
    text-align: center;
    text-transform: capitalize;
    margin: 20px 0px;
    color: whitesmoke;
}
h2{ 
    margin: 20px 1px;
    text-transform: capitalize;
    font-size: 1.3rem;
    
}

@media  only screen and (max-width:500px) {

    .box{
        flex-direction: column;
    }
    #city{
        width:85%
    }
    #searchBtn{
        padding: 3px 0px;
        width: 69%;
        margin: 9px 20px;
    }
    .desc{
        height: 39%;
        width: 100%;
        background-color: #e7e7e7;
        margin: 45px 0px;
    }
}
@media only screen and (min-width:500px) and (max-width:700px){
   #searchBtn {
    cursor: pointer;
    padding: 0px;
    margin: 0px 4px;
    width: 42%;
        
    }
    .desc{
        width: 96%;
    }
}